<!DOCTYPE html>
<html>
  <head>
    <title>ThetutNet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      TheTut.net
    </p>
    <p class="subtitle">
      Cool tagline
    </p>
  </div>
  </section>
  <section class="section">
    <%= yield %>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

  </body>
</html>
